.git
.gitignore
.github
.vscode
.idea
*.swp
*.swo

target
**/target

node_modules
**/node_modules
.turbo
**/.turbo
.next
**/.next
.output
**/.output
.tanstack
**/.tanstack
.nitro
**/.nitro
dist
**/dist

.pnpm-store

*.log
**/*.log
.DS_Store
**/.DS_Store

.env
.env.*
!.env.example

assets

infra
.terraform
**/.terraform
*.tfstate
*.tfstate.*
*.tfvars

docs
*.md
!README.md

.sops-encrypted
.config
